.footer{
    background-color: #24334A;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bigSpace {
    display: flex;
    color: white;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;

}
.bigSpace >div {
    height: 100%;
}
.shortSpace{
    background-color: #1D2A3D;
    color: white;
    width: 100%;
    height: 46px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer img {
    width: 224px;
    height: 63px;
}
.column1{
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    font-size: 14px;
    gap: 20px;
    max-width: 250px;
    
}
.column2{
    
    
}
.column3{
    
    
}
.column4{
    
    
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.column4 button{
    background-color:#00C194;
    border: none;
    width: 160px;
    height: 52px;
    color: white;
    font-weight: 600;
    font-size: 20px;

}
.column4 input{
    width: 307px;
    height: 52px;
}
.icons{
    display: flex;
    gap: 10px;
    
}
.icons button{
    background-color: #2D4864;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.icons :hover{
    background-color: #00C194;
}
.icons img{
    max-width: 16px;
    max-height: 16px;
}

