.containerAgents {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    justify-content: center;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.image-card-agents {
    width: 250px;
    margin: 10px;
}

.description-card {
    margin: 10px;
}

.description-card span {
    color: #00C194;
}

.container-contact {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centrado p {
    font-weight: bold;
    size: 40px;
}
.centrado span {
    font-weight: bold;
    size: 20px;
    color: #00C194;
}